h1 {
        color:#0acdff;
        font-style: italic;
        background-color:blanchedalmond;
        border: 4px dashed #0ACDFF;
        border-radius: 100px;
        padding: 20px;
        flex-wrap: wrap;
        }
    h1:hover{
        background-color:#FF9FB2;
    }
    .profile-picture {
        width: 300px;
        height: 300px;
        border-color: #60AB9A;
        border-style: dashed;
        border-radius: 20px;
        border-width: thick;
    }
    .list-background {
        background-color: #60AB9A;
        color:dedee0;
        font-size: large;
    }
    div {
        font-family: sans-serif, monospace;
        
    }
#leftnav {
    background-color: deeppink;
    
}
#pageheader {
    
    border:5px groove black;
    text-align: center;
    width: 80%;
    margin: auto;
    
}
#maincontent {
    background-color: aquamarine;
    width: 65%;
    margin-right: 5%;
}

#rightnav {
    background-color: darkgrey;
    width: 25%;
    margin-left: 5%;
}